<table class="table is-fullwidth is-bordered">
  <tbody>
    {% if messages|length == 0 %}
      <strong>No messages to read</strong>
    {% else %}
        {% for message in messages %}
        <tr
        {% if message.is_read == 0 %} class="has-text-weight-bold" {% endif %}>
          <td>ID: {{message.id}}</td>
          <td>From: {{message.from_username}}</td>
          <td><a href="/modmessage/message/read/{{message.id}}">Open</a></td>
        </tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>